<header class="sectoins header"> 
    <div class="container header__box">
        <nav class="header__nav">
            <a href="" class="header__logo">
                <svg class="logo__icon" >
                    <use href="./images/symbol-defs.svg#icon-appello-logo"></use>
                </svg>
            </a>
            <div class="nav__wrapp">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="" class="header__link">Home</a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__link">Portfolio</a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__link">Process</a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__link">Team</a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__link">Resources</a>
                    </li>
                </ul>
                <button type="button" class="header__btn">Get project quote</button>
            </div>
        </nav>
    </div>
</header>